.Game {
    max-width: 1800px;
    margin: auto;
    padding: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgb(51, 78, 126);
    font-weight: 500;
    font-size: 0px;

  }
  
  h2 {
    color: rgb(51, 78, 126);
    font-size: 50px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  img {
    width: 100%;
    margin-bottom: 20px;
    border: cornflowerblue solid;
    border-radius: 10px;
  }
  
  p {
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  .guess-word {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  
  .game-btns {
    margin-bottom: 20px;
  }
  
  .game-btns button {
    font-size: 20px;
    background: cornflowerblue;
    color: rgb(0, 0, 0);
    border: 0;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  #reset {
    font-size: 20px;
    background: cornflowerblue;
    color: white;
    border: 0;
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
  }

  .help{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    color: rgb(51, 78, 126);
    font-size: 50px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
}

#help-btn{
    margin: 5px;
    padding: 5px;
    background: cornflowerblue;
    font-size: 20px;
    border-radius: 5px;
    color: white;
}